USE [MT_WMS]
GO
/****** Object:  Table [dbo].[Part_Product]    Script Date: 2021/01/09 11:09:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Part_Product](
	[ProductId] [nvarchar](50) NOT NULL,
	[ProductName] [nvarchar](100) NULL,
	[ProductSpec] [nvarchar](50) NULL,
	[ProductUnit] [nvarchar](50) NULL,
	[ProductTypeName] [nvarchar](1000) NULL,
	[ProductType] [nvarchar](50) NULL,
	[ProductWeight] [decimal](18, 2) NULL,
	[ProductPrice] [decimal](18, 2) NULL,
	[LastPrice] [decimal](18, 2) NULL,
	[EnableMark] [int] NULL,
	[Barcode] [nvarchar](50) NULL,
	[LimitMaxNum] [decimal](18, 2) NULL,
	[LimitMinNum] [decimal](18, 2) NULL,
	[AttributeName] [nvarchar](50) NULL,
	[SimpleSpelling] [nvarchar](100) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUserId] [nvarchar](50) NULL,
	[CreateUserName] [nvarchar](50) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyUserId] [nvarchar](50) NULL,
	[ModifyUserName] [nvarchar](50) NULL,
	[Remark] [nvarchar](50) NULL,
	[Remark2] [nvarchar](50) NULL,
	[Remark3] [nvarchar](50) NULL,
	[Remark4] [nvarchar](50) NULL,
	[Remark5] [nvarchar](50) NULL,
	[CategoryId] [varchar](50) NULL,
	[IsTrace] [int] NULL,
	[Id] [varchar](50) NULL,
 CONSTRAINT [PK_Part_Product] PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Part_ProductLabelRecord]    Script Date: 2021/01/09 11:09:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Part_ProductLabelRecord](
	[Id] [varchar](50) NOT NULL,
	[ProductSN] [varchar](50) NULL,
	[BatchId] [varchar](50) NULL,
	[OrignBillId] [varchar](50) NULL,
	[ProductId] [varchar](50) NULL,
	[ProductSpec] [varchar](50) NULL,
	[MixDegree] [varchar](50) NULL,
	[ProductLength] [varchar](50) NULL,
	[ProductUnit] [varchar](50) NULL,
	[SubUnit] [varchar](50) NULL,
	[PrintIn_StoreId] [varchar](50) NULL,
	[InStorePlaceId] [varchar](50) NULL,
	[Num] [decimal](18, 2) NULL,
	[SubNum] [decimal](18, 2) NULL,
	[StorePlaceId] [varchar](50) NULL,
	[StoreNum] [decimal](18, 2) NULL,
	[StoreSubNum] [decimal](18, 2) NULL,
	[GroWeight] [decimal](18, 2) NULL,
	[SupplierId] [varchar](50) NULL,
	[SupplierName] [varchar](50) NULL,
	[StoreId] [varchar](50) NULL,
	[StatusMark] [int] NULL,
	[EnableMark] [int] NULL,
	[DeleteMark] [int] NULL,
	[Remark1] [varchar](50) NULL,
	[Remark2] [varchar](50) NULL,
	[Remark3] [varchar](50) NULL,
	[Remark4] [varchar](50) NULL,
	[Remark5] [varchar](50) NULL,
	[CreateDate] [datetime] NULL,
	[CreateUserId] [varchar](50) NULL,
	[CreateUserName] [varchar](50) NULL,
	[ModifyDate] [datetime] NULL,
	[ModifyUserId] [varchar](50) NULL,
	[ModifyUserName] [varchar](50) NULL,
	[TeamId] [varchar](50) NULL,
	[QualityId] [varchar](50) NULL,
 CONSTRAINT [PK_Part_ProductLabelRecord] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_CODE_OBJECT]    Script Date: 2021/01/09 11:09:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_CODE_OBJECT](
	[PKID] [int] IDENTITY(1,1) NOT NULL,
	[CODEID] [nvarchar](50) NULL,
	[OBJECTID] [nvarchar](50) NULL,
 CONSTRAINT [PK_SYS_CODE_OBJECT] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_OBJECT]    Script Date: 2021/01/09 11:09:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_OBJECT](
	[PKID] [int] IDENTITY(1,1) NOT NULL,
	[OBJECTID] [nvarchar](50) NULL,
	[OBJECTNAME] [nvarchar](50) NULL,
 CONSTRAINT [PK_SYS_OBJECT] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_OBJECT_VALUE]    Script Date: 2021/01/09 11:09:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_OBJECT_VALUE](
	[PKID] [int] IDENTITY(1,1) NOT NULL,
	[OBJECTID] [nvarchar](50) NULL,
	[OBJECTVALUE] [nvarchar](50) NULL,
	[OBJECTDESCR] [nvarchar](50) NULL,
 CONSTRAINT [PK_SYS_OBJECT_VALUE] PRIMARY KEY CLUSTERED 
(
	[PKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SYS_CODE_OBJECT] ON 

INSERT [dbo].[SYS_CODE_OBJECT] ([PKID], [CODEID], [OBJECTID]) VALUES (1, N'627d5d572a81e7cf', N'c4c71088127162a1')
SET IDENTITY_INSERT [dbo].[SYS_CODE_OBJECT] OFF
GO
SET IDENTITY_INSERT [dbo].[SYS_OBJECT] ON 

INSERT [dbo].[SYS_OBJECT] ([PKID], [OBJECTID], [OBJECTNAME]) VALUES (1, N'68233e030ecd4b2a', N'工控机')
INSERT [dbo].[SYS_OBJECT] ([PKID], [OBJECTID], [OBJECTNAME]) VALUES (2, N'4739af8221e80b88', N'产品单位')
INSERT [dbo].[SYS_OBJECT] ([PKID], [OBJECTID], [OBJECTNAME]) VALUES (3, N'c4c71088127162a1', N'合金度')
SET IDENTITY_INSERT [dbo].[SYS_OBJECT] OFF
GO
SET IDENTITY_INSERT [dbo].[SYS_OBJECT_VALUE] ON 

INSERT [dbo].[SYS_OBJECT_VALUE] ([PKID], [OBJECTID], [OBJECTVALUE], [OBJECTDESCR]) VALUES (1, N'c4c71088127162a1', N'87efb00d83cc778d', N'6005A/H112')
INSERT [dbo].[SYS_OBJECT_VALUE] ([PKID], [OBJECTID], [OBJECTVALUE], [OBJECTDESCR]) VALUES (2, N'c4c71088127162a1', N'df9b904a4940c01', N'6005A/H113')
INSERT [dbo].[SYS_OBJECT_VALUE] ([PKID], [OBJECTID], [OBJECTVALUE], [OBJECTDESCR]) VALUES (3, N'c4c71088127162a5', N'ced3b33a63aa55cb', N'A01')
SET IDENTITY_INSERT [dbo].[SYS_OBJECT_VALUE] OFF
GO
ALTER TABLE [dbo].[Part_Product] ADD  DEFAULT ((0)) FOR [CategoryId]
GO
ALTER TABLE [dbo].[Part_Product] ADD  DEFAULT ((0)) FOR [IsTrace]
GO
ALTER TABLE [dbo].[Part_Product] ADD  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Part_ProductLabelRecord] ADD  CONSTRAINT [DF__Part_Product__Id__276EDEB3]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Part_ProductLabelRecord] ADD  CONSTRAINT [DF__Part_Prod__Statu__286302EC]  DEFAULT ((0)) FOR [StatusMark]
GO
ALTER TABLE [dbo].[Part_ProductLabelRecord] ADD  CONSTRAINT [DF__Part_Prod__Enabl__29572725]  DEFAULT ((1)) FOR [EnableMark]
GO
ALTER TABLE [dbo].[Part_ProductLabelRecord] ADD  CONSTRAINT [DF__Part_Prod__Delet__2A4B4B5E]  DEFAULT ((0)) FOR [DeleteMark]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'产品编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'ProductId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'产品名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'ProductName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'产品规格' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'ProductSpec'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'单位' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'ProductUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'产品类型名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'ProductTypeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'产品类型' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'ProductType'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'重量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'ProductWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'产品价格' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'ProductPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最近一次价格' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'LastPrice'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'启用标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'EnableMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'商品条码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'Barcode'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'库存上限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'LimitMaxNum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'库存下限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'LimitMinNum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'属性' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'AttributeName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'简写' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'SimpleSpelling'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'CreateUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建用户名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'CreateUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'ModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'ModifyUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'ModifyUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类型0原料1产品' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'CategoryId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否追溯SN0否1是' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product', @level2type=N'COLUMN',@level2name=N'IsTrace'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'零部件产品表' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_Product'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主键编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'产品SN编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'ProductSN'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'批次同一个批次入库（年月+流水号）' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'BatchId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'源头单号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'OrignBillId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'产品编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'ProductId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'规格' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'ProductSpec'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'合金度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'MixDegree'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'长度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'ProductLength'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'主单位' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'ProductUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'辅单位' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'SubUnit'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'打印入库仓库' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'PrintIn_StoreId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'入库库位' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'InStorePlaceId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标签主数量 (一般是默认重量千克)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'Num'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标签辅助数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'SubNum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'入库库位存储位置' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'StorePlaceId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'库存主数量 S(一般是默认重量千克)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'StoreNum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'库存辅助数量' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'StoreSubNum'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'毛重' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'GroWeight'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'供应商编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'SupplierId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'供应商名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'SupplierName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'仓库' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'StoreId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N' 状态 0代表待入库、代表已入库' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'StatusMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'  1启用、关闭' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'EnableMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'  1删除如果是修改参数的时候需要删除标记出库之前可以操作' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'DeleteMark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'Remark1'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'Remark2'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'Remark3'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'Remark4'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'Remark5'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'CreateDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'CreateUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建人名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'CreateUserName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'ModifyDate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改人编码' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'ModifyUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'班组ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'TeamId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'质检员Id' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord', @level2type=N'COLUMN',@level2name=N'QualityId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'追溯码打印记录' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Part_ProductLabelRecord'
GO
