<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
     <!--服务器链接-->
     <add key="DEBUGURL" value="http://localhost/mt/api"/>
    
    <add key="RELEASEURL" value="http://localhost/mt/api"/>
      <!--明泰二维码打印产品查询-->
       <add key="MT0001" value="MT_WMS.Business.MT.ProductBusiness" />
       <add key="MT0002" value="MT_WMS.Business.MT.ProductLabelRecordBusiness" />
    <!--系统配置-->
       <add key="SYS0001" value="MT_WMS.Business.MT.SysObjectBusiness" />
       <add key="SYS0002" value="MT_WMS.Business.MT.SysObjectValueBusiness" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
