<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
      <!--明泰二维码打印产品查询-->
      <add key="MT0001" value="MT_WMS.Business.MT.ProductBusiness" />
    
      <!--研究院指定运行业务代码-->
      <add key="BusinesslvElecCenterHR" value="AttendanceView.Business.lvElecCenterBusiness.lvElecCenterBus" />
    </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
